<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head/head %>
  <% include ../partials/elements/chartelemental %>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">컴공 프로젝트</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
              <% include ../partials/top/message %>
              <% include ../partials/top/notice %>
              <% include ../partials/top/user %>
            </ul>
            <!-- /.navbar-top-links -->

            <% include ../partials/side/sidemenu01 %>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-6 col-xs-6">
                        <h1 class="page-header">Fire</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <div class = "col-lg-6">
            <canvas id="canvas" ></canvas>
          </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../partials/body/fire %>
    <% include ../partials/body/include %>


</body>

</html>
